<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cl.cloud">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /><!--开机广播-->

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--KeepAlive OnePixelActivity-->
        <activity android:name=".activity.OnePixelActivity"
                  android:excludeFromRecents="true"
                  android:exported="false"
                  android:finishOnTaskLaunch="false"
                  android:launchMode="singleInstance"
                  android:theme="@style/TransparentStyle"/>

        <!--KeepAliveService：将进程优先级提高-->
        <service android:name=".service.KeepAliveService"/>
        <service android:name=".base.KeepAliveManager$NotificationHideService"/><!--startForeground NotificationId 取消可感通知-->
        <!--Android5.0以后拉活方案：JobScheduler 异步任务拉起 JobService 服务，需要声明 BIND_JOB_SERVICE 权限-->
        <service android:name=".service.KeepJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!--Android5.0之前拉活方案：-->
        <service android:name=".service.PersistService"
            android:process=":persist"/>
    </application>

</manifest>